{% extends "base_auth.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap">

    <link rel="stylesheet" href="css/interventions.css">
{% endblock %}

{% block body %}
    {% if role == 'Admin' or role == 'Standardiste' %}
        <h2>Nombre total d'interventions en cours : {{ count_all_interventions_en_cours }}</h2>
    {% elseif role == 'Intervenant' %}
        <h2>Nombre d'interventions vous étant attribuées : {{ count_interventions_en_cours }}</h2>
    {% else %}
        <h2>Vos demandes d'intervention :</h2>
    {% endif %}
    <section>
    {% if role == 'Admin' or role == 'Standardiste' %}
        <form action="" method="get">
            <label for="filter_intervenant">Filtrer par intervenant :</label>
            <select name="filter_intervenant" id="filter_intervenant">
                <option value="">Tous les intervenants</option>
                {% for intervenant in intervenants %}
                    {% if intervenant['id'] == filter_intervenant %}
                        <option value="{{ intervenant['id'] }}" selected>{{ intervenant['prenom'] }} {{ intervenant['nom'] }}</option>
                    {% else %}
                        <option value="{{ intervenant['id'] }}">{{ intervenant['prenom'] }} {{ intervenant['nom'] }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <button type="submit" class="filter-button">Filtrer</button>

        </form>
    {% endif %}


        {% if interventions %}
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Statut</th>
                        <th>Urgence</th>
                        <th>Date</th>
                        <th>Type</th>
                        <th>Intervenant</th>
                        <th>Intervenant secondaire</th>
                        {% if role != 'Client' %}
                            <th>Action</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for intervention in interventions %}
                        {% if intervention.Statut != 'Résolu' %}
                            <tr>
                                <td>{{ intervention.ID }}</td>
                                <td>{{ intervention.Statut }}</td>
                                <td>{{ intervention.Urgence }}</td>
                                <td>{{ intervention.Date|date("d/m/Y") }}</td>
                                <td>{{ intervention.Type }}</td>
                                <td>
                                    {% for intervenant in intervenants %}
                                    {% if intervenant.id == intervention.ID_Intervenant %}
                                     <p>{{ intervenant.nom }} {{ intervenant.prenom }}</p>
                                    {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                {% if intervention.ID_Intervenant2 %}
                                    {% for intervenant in intervenants %}
                                        {% if intervenant.id == intervention.ID_Intervenant2 %}
                                            {{ intervenant.nom }} {{ intervenant.prenom }}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    -
                                {% endif %}
                                </td>
                                {% if role != 'Client' %}
                                    <td>
                                        <a href="gererintervention.php?id={{ intervention.ID }}">Gérer</a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Aucune intervention en cours.</p>
        {% endif %}
    </section>

    <h2>Interventions résolues :</h2>

    {% if interventions %}
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Statut</th>
                        <th>Urgence</th>
                        <th>Date</th>
                        <th>Type</th>
                        <th>Intervenant</th>
                        <th>Intervenant secondaire</th>
                        {% if role != 'Client' %}
                            <th>Action</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for intervention in interventions %}
                        {% if intervention.Statut == 'Résolu' %}
                            <tr>
                                <td>{{ intervention.ID }}</td>
                                <td>{{ intervention.Statut }}</td>
                                <td>{{ intervention.Urgence }}</td>
                                <td>{{ intervention.Date|date("d/m/Y") }}</td>
                                <td>{{ intervention.Type }}</td>
                                <td>
                                    {% for intervenant in intervenants %}
                                    {% if intervenant.id == intervention.ID_Intervenant %}
                                     <p>{{ intervenant.nom }} {{ intervenant.prenom }}</p>
                                    {% endif %}
                                    {% endfor %}
                                </td>
                                <td>
                                {% if intervention.ID_Intervenant2 %}
                                    {% for intervenant in intervenants %}
                                        {% if intervenant.id == intervention.ID_Intervenant2 %}
                                            {{ intervenant.nom }} {{ intervenant.prenom }}
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    -
                                {% endif %}
                                </td>
                                {% if role != 'Client' %}
                                    <td>
                                        <a href="gererintervention.php?id={{ intervention.ID }}">Gérer</a>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Aucune intervention.</p>
        {% endif %}
{% endblock %}
