{% extends "base_auth.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/interventions.css">
{% endblock %}

{% block body %}
    <h1>Interventions en cours</h1>

{% if interventions %}
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Statut</th>
                <th>Urgence</th>
                <th>Commentaire</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for intervention in interventions %}
                {% if intervention.Statut != 'Résolu' %}
                    <tr>
                        <td>{{ intervention.Date|date("d/m/Y") }}</td>
                        <td>{{ intervention.Type }}</td>
                        <td>{{ intervention.Statut }}</td>
                        <td>{{ intervention.Urgence }}</td>
                        <td>{{ intervention.Commentaire }}</td>
                        <td>
                            <a href="gererintervention.php?id={{ intervention.ID }}">Gérer</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Aucune intervention en cours.</p>
{% endif %}

<h1>Interventions résolues</h1>

{% if interventions %}
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Type</th>
                <th>Statut</th>
                <th>Urgence</th>
                <th>Commentaire</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for intervention in interventions %}
                {% if intervention.Statut == 'Résolu' %}
                    <tr>
                        <td>{{ intervention.Date|date("d/m/Y") }}</td>
                        <td>{{ intervention.Type }}</td>
                        <td>{{ intervention.Statut }}</td>
                        <td>{{ intervention.Urgence }}</td>
                        <td>{{ intervention.Commentaire }}</td>
                        <td>
                            <a href="gererintervention.php?id={{ intervention.ID }}">Gérer</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Aucune intervention résolue.</p>
{% endif %}

{% endblock %}
