{% extends "base_auth.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap">

    <link rel="stylesheet" href="css/profil.css">
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Profil</h1>

        {% if msg %}
            <div class="message">{{ msg }}</div>
        {% endif %}
        

       <div class="profile-info">
            <img src="img/default-avatar.jpg" alt="Photo de profil" class="profile-picture">
            <p><strong>Nom:</strong> {{ nom }}</p>
            <p><strong>Prénom:</strong> {{ prenom }}</p>
            <p><strong>Rôle:</strong> {{ role }}</p>
            <p><strong>Adresse:</strong> {{ adresse }}</p>
            <p><strong>Téléphone:</strong> {{ telephone }}</p>
            <p><strong>Date de création du compte:</strong> {{ createdAt }}</p>
        </div>
        <div class="edit-profile">
    <a href="edit_profil.php" class="btn btn-primary">Modifier le Profil</a>
</div>
    </div>
{% endblock %}

